html, body{
  height:100%;
  margin: 0px;
}

body{
  background-color: cornsilk;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

body div{
  display: flex;
}

.hour-block,
.minute-block,
.second-block{
  background-color: deepskyblue;
}

.second-block{
  display:none;
}

.row{
  flex-direction: column-reverse;
}
.grids{
  border: 2px solid black;
  padding: 30px;
}

@media screen and (orientation: portrait){
  body{
    flex-direction: column;
  }
  .hour-block,
.minute-block,
.second-block{
  flex-direction: column;
  .row{
    flex-direction:row;
  }
  
}
