body{
  background-color: cornsilk;
  display: flex;
  gap: 5px;
}

body div{
  display: flex;
}

.hour-block,
.minute-block,
.second-block{
  background-color: deepskyblue;
}

.second-block{
}

.row{
  flex-direction: column-reverse;
}
.grids{
  border: 2px solid black;
  padding: 30px;
}
